body {
   background-image: url(images/bg_Argyle.jpg);
  }
  .curyy{
      display: inline-block;
      padding:5px;
        border :double 10px  #ff3030 ;     
  }
  .a{
      text-align: center;
  }
  .zai{
   color: red;
  }
table{
    border-color:#ff0000;
    border-width:2px;
    background-color: #fcf3cb;
}
.back{
    text-align: center;
}


